.jumbotron {
    text-align: center
}

.container {
    display: flex;
    justify-content: space-between
}

.english {
    flex: 1
}

.japanese {
    flex: 2
}

.row {
    margin-bottom: 20px
}
#voice-select {
    display: none
}
.sound {
    display: flex;
    align-items: row;
    justify-content: center;
    margin-right: 5px
}
.soundLabel {
    font-size: 20
}
.soundOn {
    width: 80px;
    height: 26px;
    background: #333;
    margin-left: 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  }
  .soundOn:after {
    content: 'OFF';
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
  }
  .soundOn:before {
    content: 'ON';
    color: #27ae60;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
  }
  .soundOn label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  }
  .soundOn input[type=checkbox] {
    visibility: hidden;
  }
  .soundOn input[type=checkbox]:checked + label {
    left: 43px;
  }